:global {
  .ant-spin-container {
    overflow: visible !important;
  }

  .global-spin {
    width: 100%;
    margin: 100px 0 !important;
  }
}

//默认色
@primary-color: #1890ff; /*全局主色*/
//自定义主题一
// @primary-color:#7546C9;    /*全局主色*/
// @primary-color:#FA541C;    /*全局主色*/

// 字体颜色
@base-font-color: #54595d; //灰色#54595d
@base-white-color: #fff; //白色#fff
@base-black-color: #000; //白色#fff
@base-color2: #1d8fff;
@base-font-hover: red; //red

//按钮蓝色
@base-button-color: #1d8fff; //默认颜色#108ee9
@base-button-hover-color: rgb(63, 93, 129); //鼠标经过按钮颜色

// 表格颜色
@base-table-background: rgb(45, 50, 56);
// 表格颜色 hover
@base-table-background-hover: rgb(69, 75, 82);
// 表头颜色
@base-table-thead-background: rgb(40, 40, 40);
// 表格边框颜色
@base-table-border-color: #e5e5e5;
// 表头边框颜色
@base-table-thead-border-color: rgb(61, 61, 61);

// 边框颜色
@base-border-color: #afbbd3; //
// 按钮边框
@base-border-color1: #1d8fff;

// 背景颜色
@base-bg-color: #fff;
@base-bg-color2: #f1f1f1;

// 字体大小
@base-font-size10: 10px;
@base-font-size11: 11px;
@base-font-size12: 12px;
@base-font-size13: 13px;
@base-font-size14: 14px;
@base-font-size15: 15px;
@base-font-size16: 16px;
@base-font-size18: 18px;
@base-font-size20: 20px;

@font-face {
  font-family: SourceHanSansSCBold;
  // src: url("../../assets/font/SourceHanSansSC-Bold.otf");
  //url('Sansation_Light.eot'); /* IE9+ */
}

@font-face {
  font-family: SourceHanSansSCRegular;
  // src: url("../../assets/font/SourceHanSansSC-Regular.otf");
  //url('Sansation_Light.eot'); /* IE9+ */
}

@font-face {
  font-family: SourceHanSansSCExtraLight;
  // src: url("../../assets/font/syttf/SourceHanSansSC-ExtraLight.ttf");
}

@font-face {
  font-family: SourceHanSansSCHeavy;
  // src: url("../../assets/font/syttf/SourceHanSansSC-Heavy.ttf");
}

@font-face {
  font-family: SourceHanSansSCNormal;
  // src: url("../../assets/font/SourceHanSansSC-Normal.otf");
}

//+++++++++新颜色  2019-04-28
// 头部背景颜色
@header-background-color: #4e535c;
// 登录页面背景颜色
@login-background-color: #f7f8fa;
// 标题选中状态
@title-xs-color: #414245;
@title-xs-hover-color: #0079ff;

@title-secondary-color: #606266;

@title-desc-color: #909399;

@component-xs-color: #579aff;
// @title-secondary-color:#909399;
// 可视化
// 线的颜色
@border-color-base: rgba(228, 231, 237, 1);
// 线的颜色 选中状态
@border-color-active: #198cff;
// 文字
@txt-color-base: rgba(96, 98, 102, 1);
// 标题
@name-color-base: rgba(144, 147, 153, 1);
@name-color-base2: rgba(144, 147, 153, 0.84);
// notice
@notice-color-base: #c0c4cc;
// 大标题
@tit-color-base: rgba(65, 66, 69, 1);
// 悬浮背景
@background-transparent-base: rgba(65, 66, 69, 0.5);
// 悬浮背景
@box-shadow-base-dark: rgba(65, 66, 69, 0.2);
// 悬浮背景
@box-shadow-base-dark2: rgba(0, 0, 0, 0.06);
// 面板、设置 背景色
@box-background-base: rgba(250, 251, 252, 1);
// 分割线
@line-color-base: rgba(242, 246, 252, 1);
// 拖拽box的背景颜色
@dragBox-background-base: rgba(235, 243, 255, 1);
// 拖拽box的背景颜色
@dragBox-background-base2: #ebfaf6;
// 拖拽接受盒子的背景颜色
@dragAcceptBox-background-base: rgba(224, 237, 255, 1);
// 拖拽box的边框颜色
@dragBox-borderColor-base: rgba(220, 223, 230, 1);
// 版本背景
@versions-background-base: rgba(98, 107, 125, 1);
// 输入框正确颜色
@input-success-borderColor: #67c23a;
// 输入框错误颜色
@input-error-borderColor: #f56c6c;
// 确认提交按钮
@submitButton-background: #198afa;
// 未读消息小点颜色
@unreadIcon-background: rgba(87, 154, 255, 1);
// 表头
@thead-background: #fafafa;
// hover颜色
@hover-color: #1989fa;
// 回复背景颜色
@reply-background: rgba(245, 247, 250, 1);
// 回复背景颜色
@reply-background2:rgba(236,239,243,0.5);
// 回复字体颜色
@reply-color: #303133;

// 引导页
// 引导页左侧背景
@guidePage-left-bg: rgba(249, 249, 249, 1);
@guidePage-left-boxShadow: rgba(229, 229, 229, 1);
@guidePage-tit-color: #222222;
@guidePage-tit-color2: #505050;
@guidePage-tit-color3: #2B2D2F;
@guidePage-tit-color4: #626262;
@guidePage-content-color: #515357;
@guidePage-content-color2: #595959;
@guidePage-content-color3: #6B6C6E;
@guidePage-bg1:rgba(253,253,253,1);
@guidePage-border-color: rgba(240,240,240,1);
@guidePage-boxShadow: rgba(213,213,213,0.25);
@guidePage-step-color: #838383;
@guidePage-stepBox-color: #a8a8a8;
@guidePage-stepTit-color: #8c8c8c;
@guidePage-stepNum-bg: #448ff7;
@guidePage-line-color: #979797;
@guidePage-typeBox-boxShadow: rgba(20, 49, 127, 0.08);
@guidePage-typeBox-boxShadow-active: rgba(173, 173, 173, 0.56);
//
