.TitleDiv {
  height: 44px;
  background: linear-gradient(90deg, rgba(0, 101, 195, 1) 0%, rgba(3, 19, 44, 0) 100%);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.35);
  line-height: 40px;
  font-size: 24px;
  font-family: SourceHanSansSC;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  text-shadow: 0px 1px 2px rgba(5, 15, 39, 0.69);
  overflow: hidden;
  padding-left: 18px;
}
.BgDiv {
  position: absolute;
  border: 1px solid;
  border-image: linear-gradient(0deg, rgba(1, 36, 76, 1), rgba(12, 31, 59, 1)) 10 10;
  background: linear-gradient(0deg, rgba(3, 20, 47, 1) 0%, rgba(5, 33, 77, 1) 100%);
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
.TitleDiv .TitleDivImg {
  // width: 52px;
  float: left;
  // text-align: center;
  width: 26px;
  min-height: 100%;
  margin-right: 10px;
}
.TitleDivMain {
  line-height: 44px;
  text-align: left;
}
