.AccountInformation {
  //   background: rgba(27, 63, 144, 1);
  //   border-radius: 18px;
  //   font-size: 16px;
  //   font-family: FZLTHJW;
  //   font-weight: normal;
  //   color: rgba(250, 250, 250, 1);
  //   padding: 7px 14px;
  position: relative;
  top: 0px;
  left: 0px;
  cursor: pointer;
}
